<script>
import { computed, watch } from "vue";
import { useStore } from "@/stores/main";

export default {
  props: ["card"],
  setup(props) {
    const store = useStore();

    const numbersFor = function (numbers, letter) {
      if (letter == "n") {
        let numbersClone = [...numbers];

        numbersClone.splice(2, 0, "free");

        return numbersClone;
      }

      return numbers;
    };

    const allNumbers = computed(() => {
      let all = [];

      for (let key in props.card) {
        all = all.concat(props.card[key]);
      }

      return all;
    });

    watch(
      () => store.selectedNumbers.length,
      () => {
        if (
          allNumbers.value.every((num) => store.selectedNumbers.includes(num))
        ) {
          window.speechSynthesis.speak(new SpeechSynthesisUtterance("Bingo!"));
        }
      }
    );

    return {
      store,
      numbersFor,
    };
  },
};
</script>

<template>
  <div class="card">
    <div v-for="(numbers, letter) in card" :key="letter" class="column">
      <h2 class="ltr">{{ letter }}</h2>
      <ul>
        <template
          v-for="(number, index) in numbersFor(numbers, letter)"
          :key="index"
        >
          <li v-if="number == 'free'" class="num selected free">
            <span>{{ number }}</span>
          </li>
          <li
            v-else
            @dblclick="store.toggle(number)"
            :class="{
              num: true,
              selected: store.selectedNumbers.includes(number),
            }"
          >
            {{ number }}
          </li>
        </template>
      </ul>
    </div>
  </div>
</template>

<style>
.card {
  border: 1px solid var(--primary-color);
  display: flex;
  margin: 0 20px;
  padding: 10px;
  text-align: center;
}

.column ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ltr,
.num {
  display: block;
  font-size: 32px;
  height: 80px;
  line-height: 80px;
  width: 80px;
}

.ltr {
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}

.num {
  border: 1px dotted var(--primary-color);
}

.num.selected {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.num.free {
  font-size: 24px;
  text-transform: uppercase;
}

.num.free span {
  display: inline-block;
  line-height: 24px;
  transform: rotate(-45deg);
}
</style>
