<script>
import { ref, computed } from "vue";
import { useStore } from "@/stores/main";

export default {
  setup() {
    const store = useStore();
    const count = ref(3); // Defaults to 3

    const action = computed(() => {
      return store.hasNoCards ? "Play" : "Reset";
    });

    const regenerate = function () {
      if (store.hasNoCards) {
        store.generateCards(count.value);
      } else {
        if (confirm(action.value + " cards?")) {
          store.reset();
          store.generateCards(count.value);
        }
      }
    };

    return {
      store,
      count,
      action,
      regenerate,
    };
  },
};
</script>

<template>
  <form @submit.prevent="regenerate">
    <input type="number" name="count" inputmode="numeric" v-model="count" />
    <label for="count">cards</label>
    <input type="submit" :value="action" />
  </form>
</template>

<style>
form,
input {
  font-size: 24px;
  margin: 0;
}

form {
  padding: 20px 0;
  text-align: center;
}

label {
  margin-right: 20px;
}

input[type="number"] {
  width: 40px;
  margin-right: 10px;
  text-align: center;
}
</style>
