:root {
  --primary-color: #000;
  --secondary-color: #fff;
  background: var(--secondary-color);
  color: var(--primary-color);
}

:root.dark-mode {
  --primary-color: #b4a5a5;
  --secondary-color: #151515;
}

:root.transition-enabled {
  transition: background 0.2s ease, color 0.2s ease;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input:focus {
  outline: none;
}

input[type="number"] {
  color: var(--primary-color);
  background: none;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid var(--primary-color);
  padding: 5px;
  -webkit-appearance: none;
}

input[type="submit"] {
  background: var(--primary-color);
  border: none;
  border-radius: 4px;
  color: var(--secondary-color);
  font-weight: normal;
  padding: 5px 10px;
  -webkit-appearance: none;
}
