<script>
import { watch } from "vue";
import { useStore } from "@/stores/main";
import RegenerateForm from "./components/RegenerateForm.vue";
import BingoCard from "./components/BingoCard.vue";
import ModeToggle from "./components/ModeToggle.vue";

export default {
  components: {
    RegenerateForm,
    BingoCard,
    ModeToggle,
  },
  setup() {
    const store = useStore();

    if (store.isDarkMode) {
      document.documentElement.classList.add("dark-mode");
    }

    watch(
      () => store.isDarkMode,
      () => {
        document.documentElement.classList.add("transition-enabled");
        document.documentElement.classList.toggle("dark-mode");
      }
    );

    return {
      store,
    };
  },
};
</script>

<template>
  <RegenerateForm />
  <div class="cards">
    <BingoCard v-for="(card, index) in store.cards" :card="card" :key="index" />
  </div>
  <ModeToggle />
</template>

<style>
@import "./assets/base.css";

.cards {
  display: flex;
  max-width: 100vw;
  overflow: auto;
}

.cards::before,
.cards::after {
  content: "";
  margin: auto;
}
</style>
